.equipment-details-cards--container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.equipment-details-card {
  &-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  &-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}
