.stat-card {
  border-radius: 10px;
  text-align: center;
  height: 100%;
}

.stat-card-value {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-700);
  margin-bottom: 0.75rem;
}

.stat-card-label {
  color: var(--gray-600);
}
